@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fallback scrollbar hide for all browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  height: 100%;
  overflow: hidden;
}
