@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
  transition: all 0.3s ease;
}
.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background-color: #ef4444 !important; /* Tailwind red-500 */
}
